<div class="container">
  <div class="row">
    <h1>Listado Paises:</h1>
    <app-tabla-paises
      [paisCollection] = "elementosFiltrados"
      (movieEmitter) = "handleSelectedElementForMovies($event)"
      (actorEmitter) = "handleSelectedElementForActors($event)"
      (viewEmitter) = "handleSelectedElementForView($event)"
    >
    </app-tabla-paises>

    <app-tabla-peli-detalle
      [moviesCollection] = "elementToMovies"
      class="col-md"
    ></app-tabla-peli-detalle>
    <app-detalle-pais
      [inputElementToCountry]="elementToView"
      class="col-md"
    ></app-detalle-pais>
    <app-lista-actor-detalle
      [actorsCollection]="elementToActors"
      class="col-md"
    ></app-lista-actor-detalle>
  </div>
</div>
