<div class="container">
  <app-tabla-pelicula
    [moviesCollection]="elementos"
    (viewEmitter)="handleSelectElementForView($event)"
  ></app-tabla-pelicula>
</div>

<div class="container">
  <app-detalle-pais
  [inputElementToCountry] = "elementToView"
  ></app-detalle-pais>

  <button *ngIf="elementToView != ''" class="btn btn-secondary" (click)="filterActor()">Mostrar Actores</button>
</div>

<app-lista-actor-detalle
  [actorsCollection] = "elementToActors"
  (selectedActor) = "handleSelectedActor($event)"
></app-lista-actor-detalle>

<app-detalle-verificar
  [inputElementToView]="selectedActor"
  class="col-md"
></app-detalle-verificar>


