.table {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 600px;
  overflow-y: auto;
  max-width: 700px;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

tr:hover{
  background-color: lightblue;
}
