<div class="container">
  <div class="row">
    <app-tabla-actores-controles-detalle
      [actorsCollection]="elementos"
      (countryEmitter)="handleSelectElementForCountry($event)"
      (movieEmitter)="handleSelectElementForMovie($event)"
      (viewEmitter)="handleSelectElementForView($event)"
    ></app-tabla-actores-controles-detalle>

    <app-tabla-peli-detalle
      [moviesCollection] = "elementToMovies"
      class="col-md"
    ></app-tabla-peli-detalle>
    <app-detalle-pais
      [inputElementToCountry]="elementToCountry"
      class="col-md"
    ></app-detalle-pais>
    <app-detalle
      [inputElementToView]="elementToView"
      class="col-md"
    ></app-detalle>
  </div>
</div>
