<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Listado de elementos</h1>
          <app-tabla-pelicula
            [mostrarActualizarYBorrar]="controlesIsFull"
            [coleccionPeliculas]="elements"
            (emitterDetalle)="handlerElementoDetalle($event)"
            (emitterModificar)="handlerelementoParaModificar($event)"
            (emitterBorrar)="handlerElementoBorrar($event)"
          ></app-tabla-pelicula>
        </div>
      </div>
      <hr />
      <div class="container">
        <div class="row">
          <app-modificar
            [inputElementoParaModificar]="elementoParaModificar"
            (outputElementoModificado)="getColeccionActualizada()"
            class="col-md"
          ></app-modificar>
          <app-detalle
            [inputMostrarBorrar]="busqueda"
            [inputElementoDetalle]="elementoDetalle"
            class="col-md"
          ></app-detalle>
          <app-borrar
            [inputElementoParaBorrar]="elementoParaBorrar"
            (outputDeletedElement)="getColeccionActualizada()"
            class="col-md"
          ></app-borrar>
        </div>
      </div>
    </main>
  </body>
</html>
